@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff2)
      format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff2) format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}
.bodyContent{
    height: 95vh;
    overflow: auto;
    background: #f9f9f9;
    max-width:800px;
    margin: auto;
    border-radius: 6px;
    box-shadow: 0px 0px 27px 0 #3333331f;


}
.appContent,
.appContent input {
  font-size: 15px;
  line-height: 24px;
  color: #353740;
  font-family: "ColfaxAI", Helvetica, sans-serif;
}
.appContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  max-width: 350px;
  margin:100px auto;
}
.appContent .icon {
  width: 34px;
}
.appContent h3 {
  font-size: 20px;
  line-height: 40px;
  font-weight: 100;
  color: #747474;
  margin: 16px 0 10px;
  text-transform: capitalize;
}
.appContent h3 span{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #acacac;
  display: inline-block;
  overflow: hidden;
  position: relative;
  top: 12px;
  margin-right: 10px;
}
.appContent h3 span img{
      width: 100%;
}
.appContent form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 768px;
}
.appContent input[type="text"] {
  padding: 12px 16px;
  border: 1px solid #0052aa;
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 24px;
  outline-color: #0052aa;
  width: 100%;
  margin:20px auto;
}
.appContent ::placeholder {
  color: #8e8ea0;
  opacity: 1;
}
.appContent input[type="submit"] {
    padding: 12px 0;
    color: #fff;
    border: 1px solid #0052aa;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    height: 49px;
    width: 65px;
    margin: auto;
}
.appContent .result {
  font-weight: bold;
    margin-top: 40px;
    background: #f2f2f2;
    border-radius: 8px;
    padding: 22px;
    font-size: 15px;
}
.appContent table, .appContent tr, .appContent td {
    border: 1px solid #333;
    width: 100%;
    border-radius: 7px;
    margin: 20px;
    padding: 10px;
}
.appContent td{
  background: #ededed;
  font-weight: bold;
}
.appContent button{
  padding: 10px 21px;
    background: #0052aa;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    text-transform: capitalize;
}
.appContent button:hover{
  background: #014996;
}
.main, .startContainer{
  width: 100%;
}
.startContainer{
  width: 100%;
}
.startContainer img{
      margin: auto;
    display: block;
    box-shadow: 1px 1px 52px 4px #B0B0D3;
    border-radius: 50%;
    margin-bottom: 29px;
}
.startContainer button{
  margin: auto;
  display: block;
}
.loader{
  width: 89px;
  margin: 50px auto;
  display: block;
}

.contentButton{
  display: flex;
  width: 145px;
  justify-content: space-between;
  margin-bottom: 10px;
}
.contentButton button{
  height: 35px;
}
.contentButton button img{
  width: 15px;
  position: relative;
  top: -3px;
}
.contentButton button:last-child{
  border-radius: 4px;
}
